.webcam {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}

.output {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 0.7em;
    z-index: 1;
    padding: 2%;
    border-radius: 20px;
}